
<ion-content >
    <h1 class="text-3xl font-bold underline">Lista de Cats</h1>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Catsbreeds</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col sizeMd="6">
          <ion-card *ngFor="let cat of cats">
            <ion-card-header >
              <ion-card-title>{{cat.name}}</ion-card-title>
            </ion-card-header>
            <ion-img 
              alt="{{cat.name}} - Not Imagen" 
              src="https://cdn2.thecatapi.com/images/{{cat.reference_image_id}}.jpg" 
              (ionError)="errorImagen($event)"
              >
            </ion-img>
            <ion-card-header >
              <ion-grid>
                <ion-row class="ion-justify-content-between">
                  <ion-col size="6"  class="ion-text-start">
                    <ion-card-subtitle> 
                      <samp>
                        {{cat.origin}} - ({{cat.country_code}})
                      </samp>
                    </ion-card-subtitle>
                  </ion-col>
                  <ion-col size="6" class="ion-text-end">
                    <ion-label >Inteligencia: {{cat.intelligence}}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
          
            <ion-card-content>
              {{cat.description}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>